<%- include("../partials/header.ejs") %>

    <div class="container ">
        <header style="text-align: center;" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Welcome to yelpcamp </h1>
                <p> Here are the hand picked grounds for you</p>
                <p>
                    <a class="btn btn-primary " href="/campgrounds/new">Add New Ground</a>
                </p>
            </div>
        </header>
        <div style="margin: auto 0x;" class="row text-center">
            <% campgrounds.forEach(function(campgrounds){%>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class=" img-thumbnail ">

                        <img class="imgthumb img-fluid" src="<%= campgrounds.image  %>">


                        <div class="caption text-center">
                            <h3>
                                <%= campgrounds.name %>
                            </h3>
                            <div>
                                <span class="badge label-primary"><i class="fas fa-heart"></i> <%= campgrounds.likes.length %></span>
                            </div>
                            <div>
                                <% if (campgrounds.rating === 0) { %>
                                    <em>No reviews yet.</em>
                                    <% } else { %>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star <% if (campgrounds.rating > 1.5) { %> checked <% } %>"></span>
                                        <span class="fa fa-star <% if (campgrounds.rating > 2.5) { %> checked <% } %>"></span>
                                        <span class="fa fa-star <% if (campgrounds.rating > 3.5) { %> checked <% } %>"></span>
                                        <span class="fa fa-star <% if (campgrounds.rating > 4.5) { %> checked <% } %>"></span>
                                        <% } %>
                            </div>

                            <p>
                                <a href="/campgrounds/<%= campgrounds._id %>" class="btn btn-primary btn-center" role="button"> More Info</a>
                            </p>
                        </div>

                    </div>
                </div>
                <%}); %>



        </div>
    </div>
    <%- include("../partials/footer.ejs") %>